.services{
    margin-top: 100px;
    padding-bottom: 50px;
    background-color: rgb(247, 243, 243);
}

.services .head{
    padding-top: 50px;
    text-align: center;
}
.services .head p{
    padding-bottom: 20px;
    color: gray;
}
.services img{
    height: 150px;
    width: 100%;
}