.footer{
    margin-top: -100px;
    min-height: 400px;
    background: linear-gradient(#136628, #073303);
    color: white;
}
.main{
    padding-top: 150px;
}
footer h5{
    font-size: 18px;
}
footer h5,
footer ul li{
    text-align: center;
}
.footer .social li a{
    color: white;
}