.review{
    margin-bottom: 50px;
    background-color: rgb(248, 247, 247);
}
.review .head{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.review .head p{
    max-width: 570px;
    font-size: 35px;
    font-weight: bold;
    color: rgb(6, 46, 6);
}
.review .head p span{
    color: green;
}

.review .reviewBox {
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
}
.review .reviewBox .headName {
    margin-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
.review .reviewBox .headName p{
    margin: 0;
}
.review .reviewBox .headName .name{
    font-size: 20px;
    font-weight: 600;
}
.review .reviewBox .headName .title{
    font-size: 14px;
    color: rgb(165, 163, 163);
}
.review .reviewBox .description{
    margin-top: 15px;
    font-size: 16px;
    color: rgb(165, 163, 163);
}
.review .reviewBox .headName img{
    margin-right: 10px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
.review .reviewShadow{
    width: 70%;
    margin: auto;
    padding: 30px;
    background:linear-gradient(#e7f9ec, #b8f7b3);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 30px;
    z-index: 1;
}
.review .reviewShadow .shadowTitle{
    max-width: 500px;
    font-size: 35px;
    font-weight: bold;
}
.review .reviewShadow .shadowTitle span{
    color: green;
}
.review .reviewShadow .shadowButton{
    display: flex;
    align-items: center;
}
.review .reviewShadow .shadowButton button{
    height: 35px;
    width: 130px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    background-color: rgb(19, 72, 19);
}

@media screen and (max-width:768px) {
    .review .reviewShadow{
        display: grid;
        grid-template-columns: column;
    }
}